/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body{
    padding: 30px;
    background-color: whitesmoke;
    font-family: 'Rubik', sans-serif;
}

.section {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 75%;
  border: 2px groove #333333;
  border-radius: 10px;
}

#pslo{
  background-color: seagreen;
  padding: 20px;
}
#courses{
  background-color: seagreen;
  padding: 20px;
}

#faculty{
  width: 100%;
  text-align: center;
  border: groove seagreen;
}

#faculty>ul>li {
  display: inline-block;
  font-family: 'Montserrat Alternates', sans-serif;
  padding: 30px;
  font-style: italic;
}

#faculty>ul>li>img {
  border: 5px groove #333333;
}

h1 {
  text-align: center;
  font-family: 'BioRhyme Expanded', serif;
}

h6, h2 {
  font-family: "Montserrat Alternates";
}

.card {
  text-align: center;
  font-size: smaller;
  padding-bottom: 10px;
}

ul.card-text {
  list-style: none;
}


#style {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: seagreen;
  padding: 0;
  border-top: 3px #333333 groove;
}

#style>ul>li {
  display: inline;
  margin: 0;
  padding: 2px 10px;
  overflow: hidden;
  text-align: center;
}
