/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

/* modifies entire body */
body {
  background-color: #A9A9A9;
  padding: 30px;
  display: grid;
  font-family: 'Anaheim', sans-serif;
  grid-gap: 3px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

/* modifies main title */
h1 {
  margin-top: 15px;
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  font-family: 'Monofett', cursive;
  font-size: 70px;
}

/* modifies h2 titles specifically */
h2 {
  text-align: center;
  font-family: 'Exo', sans-serif;
}

p.card-text {
  font-size: small;
}

/* modifies faculty pictures */
.pic {
  border-radius: 50px;
}

/* modifies all sections(pslo, courses, faculty, validation) */
.section {
  background-color: #CAEBF2;
  border-radius: 50px;
  border: 3px solid;
  margin: 10px;
  max-width: 870px;
  padding: 20px;
}

/* modifies required courses specifically */
#courses {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

/* modifies faculty specifically */
#faculty {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

/* text aligns faculty info */
#faculty > ul {
  text-align: center;
}

/* modifies the way pictures are aligned. fixed length issue. */
#faculty > ul > li {
  display: inline-grid;
}

/* modifies pslo specifically */
#pslo{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

/* modifies styles specifically */
#style {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

/* simply makes font bigger */
#style > ul {
  font-size: larger;
}

#style > ul > li {
  padding: 5px;
  margin: 3px;
}

/* Makes the style links and validation links look like buttons */
li > a {
  text-decoration: none;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: rebeccapurple;
  text-align: center;
}

li > a:hover {
  background-color: darkorchid;
}

/* modifies validation specifically */
#validation {
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
}

/* Nesting example */
/* removes bullet points from validation */
div#validation.card > div.card-body > ul.card-text > li {
  list-style-type: none;
  padding: 5px;
  margin: 3px;
}

/* Grouping example */
/* removes bullets from both style and faculty */
#style>ul, #faculty>ul {
  list-style-type: none;
}
